.div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.form {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form_active {
    display: flex;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #363636;
    position: relative;
}

.order__tittle {
    margin: 0;
    padding: 25px 25px 0;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
}

.order__footer {
    width: 100%;
    padding-top: 20px;
}

.order__product-box {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0;
}

.order__product-box:last-child {
    padding-bottom: 30px;
}

.order__product-category {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.order__product-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
}

.order__box {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.order__product {
    display: flex;
    justify-content: space-between;
}

.order__product-name {
    margin: 0;
    padding: 10px 0;
}

.order__product-button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    text-align: center;
}

.order__product-button:hover {
    opacity: 0.7;
}

.order__product-input {
    margin: 0 15px;
    padding: 5px 0;
    width: 25px;
    border: 2px solid #000;
    text-align: center;
}

.order__product-input::-webkit-inner-spin-button,
.order__product-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.order__product-input {
    -moz-appearance: textfield;
}

.order__product-input:hover,
.order__product-input:focus {
    -moz-appearance: number-input;
}

.order__product-input::-webkit-outer-spin-button,
.order__product-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.order__button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 20px;
    left: 0px;
    width: 85%;
}

.order__button {
    border: 2px solid #000;
    border-radius: 5px;
    width: 90px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.order__button:hover {
    opacity: 0.8;
}

.order__button-submit {
    background-color: rgb(135, 224, 0);
}